<div class="container content-wrapper" ng-controller="ordersController">
	<div class="row">
		<div class="col-sm-12 col-md-2">
			<h1>Orders</h1>
			<h5>View the status of your submitted samples</h5>
		</div>

		<div class="col-sm-12 col-md-10">
			<table class="table">
				<tr>
					<th>Type</th>
					<th>Location</th>
					<th>Submitted</th>
					<th>Status</th>
					<th>Results</th>
				</tr>
				<tr ng-repeat="item in orders">
					<td><span style="text-transform: capitalize;">{{item.orderType}}</span></td>
					<td><a ui-sref="map({ type: '{{item.orderType}}', id: '{{item.id}}' })">
						<span><i class="glyphicon glyphicon-map-marker"></i></span> view
					</a></td>
					<td>{{item.timestamp | date: "MM/dd/yyyy"}}</td>
					<td>{{item.orderStatus}}</td>
					<td><a ui-sref="results({ type: '{{item.orderType}}', id: '{{item.id}}' })" ng-show="item.orderStatus == 'paid'">
						<span><i class="glyphicon glyphicon-stats"></i></span> view
					</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>