<div class="container" ng-controller="loginController">
	<div class="row">
		<div class="col-sm-12">
			<h1>Log In</h1>
			<h5>Enter your username and password</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

			<!-- this view loads the error message -->
			<div ui-view></div>

			<form ng-submit="loginForm()">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username"  class="form-control" ng-model="username" ng-minlength="6" ng-maxlength="20" placeholder="Choose a username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" class="form-control" ng-model="password" ng-minlength="6" ng-maxlength="20" placeholder="Choose a password">
				</div>
				<div class="button-holder">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>