/* line 1, ../libs/compass/sass/_navbar.scss */
.brand-img {
  width: 30px;
}

/* line 5, ../libs/compass/sass/_navbar.scss */
.navbar-brand {
  padding: 10px;
}

/* line 1, ../libs/compass/sass/_home.scss */
.jumbotron {
  background: url("../img/cornfield.jpg") no-repeat center center;
  height: 100vh;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 0;
}

/* line 5, ../libs/compass/sass/styles.scss */
#test-map {
  height: 200px;
}

/* line 9, ../libs/compass/sass/styles.scss */
a:hover {
  cursor: pointer;
}

/* line 13, ../libs/compass/sass/styles.scss */
.content-wrapper {
  padding-top: 60px;
}

/* line 17, ../libs/compass/sass/styles.scss */
.button-holder {
  padding: 10px 0 20px 0;
}

/* line 21, ../libs/compass/sass/styles.scss */
.fake-button {
  min-width: 120px;
  margin-left: 5px;
}
