<div ng-controller="servicesController">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<form ng-submit="submitForm('soil')">
				<h4>Sample Location</h4>
				<div class="form-group">
					<label for="loc-description" class="control-label">Location Description</label>
					<input type="text" id="loc-description" class="form-control" ng-model="formData.location" placeholder="" ng-minlength="2" ng-maxlength="20">
				</div>
				<div class="form-group">
					<label for="address" class="control-label">Address</label>
					<textarea id="address" class="form-control" ng-model="formData.address" rows="4"></textarea>
				</div>
				<div class="form-group">
					<label for="county" class="control-label">County</label>
					<input type="text" id="county" class="form-control" ng-model="formData.county" placeholder="" ng-minlength="2" ng-maxlength="20">
				</div>
				<h4>Crop Codes</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.fieldCrops" ng-true-value="1" ng-false-value="0">
						Field crops
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.pastureCrops" ng-true-value="1" ng-false-value="0">
						Pasture crops / hay
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.xmasTrees" ng-true-value="1" ng-false-value="0">
						Pine trees, field nursery stock, and Christmas trees
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.berries" ng-true-value="1" ng-false-value="0">
						Blackberries and pecans
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.veggies" ng-true-value="1" ng-false-value="0">
						Vegetables
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.sod" ng-true-value="1" ng-false-value="0">
						Sod production
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.flowers" ng-true-value="1" ng-false-value="0">
						Ornamentals and flowers (nursery field production)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.golf" ng-true-value="1" ng-false-value="0">
						Golf course
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.industrialLawn" ng-true-value="1" ng-false-value="0">
						Industrial/business lawn
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.otherTurf" ng-true-value="1" ng-false-value="0">
						Other turf
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.homeLawns" ng-true-value="1" ng-false-value="0">
						Home lawn
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.homeLandscape" ng-true-value="1" ng-false-value="0">
						Home landscape plants
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.homeGarden" ng-true-value="1" ng-false-value="0">
						Home garden
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.wildlife" ng-true-value="1" ng-false-value="0">
						Wildlife plots
					</label>
				</div>

				<div class="button-holder">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>

				<div class="button-holder">
					<a ng-click="autoFill('soil')" class="text-warning">Help! Auto-fill these fields for me.</a>
				</div>
			</form>
		</div>
	</div>
</div>