<div ng-controller="servicesController">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<form ng-submit="submitForm('water')">
				<h4>Sample Location</h4>
				<div class="form-group">
					<label for="address" class="control-label">Address</label>
					<textarea id="address" class="form-control" ng-model="formData.address" rows="4"></textarea>
				</div>
				<div class="form-group">
					<label for="county" class="control-label">County</label>
					<input type="text" id="county" class="form-control" ng-model="formData.county" placeholder="" ng-minlength="2" ng-maxlength="20">
				</div>
				<h4>Type of Sample</h4>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.location" value="household well">
						Household well
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.location" value="irrigation well">
						Irrigation well
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.location" value="irrigation pond">
						Irrigation pond
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.location" value="municipal water">
						Municipal water
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.location" value="fish pond">
						Fish pond
					</label>
				</div>
				<h4>Well Information</h4>
				<div class="form-group col-sm-12 col-md-6">
					<label for="well-depth" class="control-label">Well depth (ft)</label>
					<input type="number" id="well-depth" class="form-control" ng-model="formData.wellDepth" placeholder="">
				</div>
				<div class="form-group col-sm-12 col-md-6">
					<label for="well-casing-diam" class="control-label">Well casing diameter (in)</label>
					<input type="number" id="well-casing-diam" class="form-control" ng-model="formData.wellCasingDiam" placeholder="">
				</div>
				<div class="form-group">
					<label for="end-use" class="control-label">End use of the water source</label>
					<input type="text" id="end-use" class="form-control" ng-model="formData.endUse" placeholder="">
				</div>
				<div class="form-group">
					<label for="test-reasons" class="control-label">Reason(s) for testing</label>
					<textarea id="test-reasons" class="form-control" ng-model="formData.testReasons" rows="3"></textarea>
				</div>
				<h4>Tests Requested</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.pH" ng-true-value="1" ng-false-value="0">
						pH
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Iron" ng-true-value="1" ng-false-value="0">
						Iron
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Nitrate" ng-true-value="1" ng-false-value="0">
						Nitrate (NO<sub>3</sub>-N)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Nitrite" ng-true-value="1" ng-false-value="0">
						Nitrite (NO<sub>2</sub>-N)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Arsenic" ng-true-value="1" ng-false-value="0">
						Arsenic
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Lead" ng-true-value="1" ng-false-value="0">
						Lead
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Copper" ng-true-value="1" ng-false-value="0">
						Copper
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Radon" ng-true-value="1" ng-false-value="0">
						Radon
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.Uranium" ng-true-value="1" ng-false-value="0">
						Uranium
					</label>
				</div>
				
				<div class="button-holder">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>

				<div class="button-holder">
					<a ng-click="autoFill('water')" class="text-warning">Help! Auto-fill these fields for me.</a>
				</div>
			</form>
		</div>
	</div>
</div>