<div ng-controller="servicesController">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<form ng-submit="submitForm()">
				<h4>Sample Location</h4>
				<div class="form-group">
					<label for="address" class="control-label">Address</label>
					<textarea id="address" class="form-control" ng-model="formData.address" rows="4"></textarea>
				</div>
				<div class="form-group">
					<label for="county" class="control-label">County</label>
					<input type="text" id="county" class="form-control" ng-model="formData.county" placeholder="" ng-minlength="2" ng-maxlength="20">
				</div>
				<h4>Type of Sample</h4>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.sampleType" value="householdWell">
						Household well
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.sampleType" value="irrigationWell">
						Irrigation well
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.sampleType" value="irrigationPond">
						Irrigation pond
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.sampleType" value="municipalWater">
						Municipal water
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="formData.sampleType" value="fishPond">
						Fish pond
					</label>
				</div>
				<h4>Well Information</h4>
				<div class="form-group col-sm-12 col-md-6">
					<label for="well-depth" class="control-label">Well depth (ft)</label>
					<input type="number" id="well-depth" class="form-control" ng-model="formData.wellDepth" placeholder="">
				</div>
				<div class="form-group col-sm-12 col-md-6">
					<label for="well-casing-diam" class="control-label">Well casing diameter (in)</label>
					<input type="number" id="well-casing-diam" class="form-control" ng-model="formData.wellCasingDiam" placeholder="">
				</div>
				<div class="form-group">
					<label for="end-use" class="control-label">End use of the water source</label>
					<input type="text" id="end-use" class="form-control" ng-model="formData.endUse" placeholder="">
				</div>
				<div class="form-group">
					<label for="test-reasons" class="control-label">Reason(s) for testing</label>
					<textarea id="test-reasons" class="form-control" ng-model="formData.testReasons" rows="3"></textarea>
				</div>
				<h4>Tests Requested</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.basicTest" ng-true-value="1" ng-false-value="0">
						Basic test (includes: pH, P, K, Ca, Mg, Mn, Fe, Al, B, Cu, Cr, Mo, Ni, Si, Na, Zn, Calculated Hardness)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.nitrate" ng-true-value="1" ng-false-value="0">
						Nitrate (NO<sub>3</sub>-N)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.nitrite" ng-true-value="1" ng-false-value="0">
						Nitrite (NO<sub>2</sub>-N)
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.arsenic" ng-true-value="1" ng-false-value="0">
						Arsenic
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.lead" ng-true-value="1" ng-false-value="0">
						Lead
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.radon" ng-true-value="1" ng-false-value="0">
						Radon
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.uranium" ng-true-value="1" ng-false-value="0">
						Uranium
					</label>
				</div>
				
				<div class="button-holder">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>

				<div class="button-holder">
					<a ng-click="autoFill('water')" class="text-warning">Help! Auto-fill these fields for me.</a>
				</div>
			</form>
		</div>
	</div>
</div>